@import url('reset.css');
@import url('typography.css'); 
body {
background-image: url('img/1.png'); 
    background-position: left top;
    background-repeat: repeat-x;
    margin: 0 auto;
    min-height: 700px;
    min-width: 1300px;
}


div#status-bar {
background: url('../img/2.jpg') no-repeat;
height: 300px;
width: 100%;
}
.navigation {
	background: #353535 url('img/navigation.jpg') repeat-x;
	height: 48px;
border-top: 1px solid #555;

border-bottom: 1px solid #222;



    
}
.navigation ul {display: inline; margin: 2px;}
.navigation ul li {
	border-right: 1px solid #303030;
	float: left;
	list-style: none;
}
.navigation a {
	color: #AAA;
	display: block;
	font: 1.2em Arial, Geneva, sans-serif;
	padding: 12px 14px;
	text-decoration: none;
}
.navigation a:hover {
	background: #444;
	color: #E5E5D5;
	text-decoration: none;
}
.navigation li.current_page_item a {
	background: none;
	color: #EEE;
}

/* Sub navigation */
#subnav a {
	padding: 10px;
	font-size: 0.9em;
}
div#content {
background: url('../img/content-top-shadow.png') repeat-y;
background: rgba(255, 255, 255, 10);
margin:10px;
position:relative;
width:1000px;

    border:groove 8px #31d8e7;
    -moz-border-radius-topleft: 41px;
    -moz-border-radius-topright:23px;
    -moz-border-radius-bottomleft:0px;
    -moz-border-radius-bottomright:36px;
    -webkit-border-top-left-radius:41px;
    -webkit-border-top-right-radius:23px;
    -webkit-border-bottom-left-radius:0px;
    -webkit-border-bottom-right-radius:36px;
    border-top-left-radius:41px;
    border-top-right-radius:23px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:36px;
    -moz-box-shadow: -1px -20px 47px #000000;
    -webkit-box-shadow: -1px -20px 47px #000000;
    box-shadow: -1px -20px 47px #000000;

}
  #templatemo_right_sidebar {

    background: #ffffff;
    border: 10px solid #eeeeee;
    float: ;
    margin: 3px;
    width: 300px;
}
div#footer-image {
background: url('../img/1.jpg') no-repeat #6eb9cc center;
border-top: 2px groove #ffffff;
border-bottom:2px ridge #ffffff;
height:50px;
width:100%;
}
.product{
margin: 15px; 

}
.product-name{
   font-family: Tahoma ,sans-serif;
   font-size : 21px;
   font-weight: normal;
   padding:2px;
   width: 250px;
   height: 60px;
   
}

