@import url('typography.css'); 
body {
background : url('../img/parket_1920x1200.jpg') no-repeat;
margin: 0;
-moz-background-size: 100%;
-webkit-background-size: 100%;
-o-background-size: 100%;
background-size: 100%;
background-attachment: fixed;


}




div#status-bar {
background: url('../img/status-bar-bg.png') repeat;
height: 40px;
width: 100%;

}


div#content {

background: url('../img/content-top-shadow.png') repeat-y;
background: rgba(255, 255, 255, 0.3);
margin: 20px;
position:relative;
float: left;
width: 80%;

}

.navigation {
	background: #353535 url('img/navigation.jpg') repeat-x;
	border-bottom: 1px solid #222;
    height: 48px;
	border-top: 1px solid #555;
}
.navigation ul {display: inline; margin: 2px;}
.navigation ul li {
	border-right: 1px solid #303030;
	float: left;
	list-style: none;
}
.navigation a {
	color: #AAA;
	display: block;
	font: bold 1em Verdana,sans-serif;
	padding: 12px 14px;
	text-decoration: none;
}
.navigation a:hover {
	background: #444;
	color: #E5E5D5;
	text-decoration: none;
}
.navigation li.current_page_item a {
	background: none;
	color: #EEE;
}

/* Sub navigation */
#subnav a {
	padding: 10px;
	font-size: 0.9em;
}
