h1 {
color: #f5f6f9;
font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
font-size: 48px;
font-weight: normal;
}
h1 a { color: #000; text-decoration: none; }


h3 {
color: #000;
font-family: "Myriad Pro", Helvetica, Arial,Tahoma, sans-serif;
font-size: 24px;
font-weight: normal;
}
h4 {
color: #ffffff;
font-family: Arial, Helvetica, sans-serif;
}

h5 {
color: #6ec9cc;
font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
font-size: 19px;

}
h5 a { color: #6ec9cc; text-decoration: none; }

p {
    color: #222222;
    font-family: "Lora";
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    margin: 15px 0 10px;
    text-align: justify;
  


}